@import "../common-styles/styles.scss";

a { 
    outline: 0;
}

.login-reset {
    margin-top: 20px;
    text-align: right;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

@media screen and (max-width : 700px) {
    .login-form {
        width: 80%;
    }
} 