<div class="login-body">
    <!-- <a [routerLink]="" (click)="closeDialog()">X</a> -->
    <form class=login-form method="POST" action="#" role="form">
      <p class="login-title">Forgot Password</p>
      <div *ngIf="errorMessage!=null" class="alert alert-danger">
          {{ errorMessage }}
      </div>
      <div class="form-group">
          <label class="control-label" for="signupEmail">Email</label>
          <input (keyup.enter)="onNext()" id="signupEmail" type="email" maxlength="50" autocomplete="on" class="form-control" [(ngModel)]="email"
                 [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group" type="button">
          <button (click)="onNext()" id="nextPage" type="submit" class="button buttonRed">Submit
          </button>
      </div>
    </form>
  </div>
