<footer>
  <div class="footer" id="footer">
      <div class="container">
          <div fxLayout="row" 
            fxLayoutAlign="center"
            fxLayoutGap="10px"
            fxLayoutGap.xs="0">

            <div class="footer-buttons" fxFlex>
              <!-- <a class="android-badge app-badge" href="https://play.google.com/store/apps/details?id=com.nomfoods.android" target="_blank"><img alt="Download on Google Play" src="https://d2ue93q3u507c2.cloudfront.net/assets/marketing/images/badges/google_play%402x.png" data-at2x="https://d2ue93q3u507c2.cloudfront.net/assets/marketing/images/badges/google_play%402x.png" width="132" height="42"></a> -->
              <a class="ios-badge app-badge" href="https://itunes.apple.com/us/app/nomfoods" target="_blank"><img alt="Download on the App Store" src="https://d2ue93q3u507c2.cloudfront.net/assets/marketing/images/badges/app_store%402x.png" data-at2x="https://d2ue93q3u507c2.cloudfront.net/assets/marketing/images/badges/app_store%402x.png" width="132" height="42"></a>
            </div>
          </div>
    
          <div
            fxLayout="row" 
            fxLayoutAlign="center"
            fxLayoutGap="10px"
            fxLayoutGap.xs="0">
              <div class="footer-buttons-social" fxFlex>
                <a href="https://facebook.com/nomfoods">
                  <i class="ion-social-facebook"></i>
                </a>
                <a href="https://twitter.com/nomfoods">
                  <i class="ion-social-twitter"></i>
                </a>
                <a href="https://instagram.com/nomfoods">
                  <i class="ion-social-instagram"></i>
                </a>
                <a href="https://snapchat.com/nomfoods">
                  <i class="ion-social-snapchat"></i>
                </a>
              </div>
          </div>
    
          <div
            fxLayout="row" 
            fxLayoutAlign="center"
            fxLayoutGap="10px"
            fxLayoutGap.xs="0">
              <div class="footer-buttons-contact" fxFlex>
                  <a href="mailto:support@nomfoods.com" target="_blank" rel="noreferrer">
                    Contact Us
                  </a> 
                  <a href="https://nomfoods.com/" target="_blank" rel="noreferrer">
                    FAQ
                  </a>
                  <a class="terms" [routerLink]="" (click)="openDialog()">
                    Terms of Services
                  </a> 
                  <br><br>
                          
                  © 2018 nomfoods. All rights reserved.
          
              </div>
          </div>
        </div>
    </div> 
</footer>