
.bounds {
    background-color:white;
    color:#5EADDD;
    font-size: 2.5em;
    font-weight: 100;

    text-align: center;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.banner {
    padding-top: 15%;
    padding-bottom: 216px;
}

.submit-button {
    background-color:#5EADDD;
    color:white;
}

@media screen and (max-width : 550px) {
    .banner {
        padding-top: 135px;
    }
}