.closed-reservation {
    font-weight: bold;
    text-align: center;
}

.container {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

svg {
    margin-top:4px;
}

.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: white;
}

.mat-mini-fab {
    margin-bottom: -10px;
}


@media screen and (max-width : 530px) {
    .mat-dialog-container {
        width: 450px !important;
        border-radius: 0 !important;
        overflow: visible !important;
        margin-left: -70px !important;
        height: 100% !important; 
    }
}