<div class="container" fxLayout.xs="column" fxLayoutWrap="wrap" fxLayout="row">
  <!-- <button mat-mini-fab cdk-focus-region-start class="button-x" (click)="closeDialog()"><svg viewBox="0 0 24 24" role="img" aria-label="Close" focusable="false" style="height: 16px; width: 16px; display: block; fill: rgb(118, 118, 118);"><path d="m23.25 24c-.19 0-.38-.07-.53-.22l-10.72-10.72-10.72 10.72c-.29.29-.77.29-1.06 0s-.29-.77 0-1.06l10.72-10.72-10.72-10.72c-.29-.29-.29-.77 0-1.06s.77-.29 1.06 0l10.72 10.72 10.72-10.72c.29-.29.77-.29 1.06 0s .29.77 0 1.06l-10.72 10.72 10.72 10.72c.29.29.29.77 0 1.06-.15.15-.34.22-.53.22" fill-rule="evenodd"></path></svg></button> -->
  <div class="restaurant-card" fxFlex.gt-xs="100%">
    <!-- <mat-card-content> -->
      <h2 class="closed-reservation">Open hours: 5pm - 10am</h2>
      <p class="closed-reservation">
        Lunch reservations are closed at this current time. Please wait until 5pm Sunday through Thursday.
      </p>
    <!-- </mat-card-content> -->
    </div>
</div>