.restaurant-name {
    font-weight: bold;
    text-align: center;
}

.restaurant-food {
    text-align: center;
}

.food-selected {
    color: #F74350;
}

.restaurant-time {
    text-align: center;
}

.restaurant-button {
    background-color: #F74350;
    color: white;
}

.material-icons {
    color: #F74350;
}

img {
    height: 217px;
}

.restaurant-button-holder {
    text-align: center;
}

// .mat-dialog-container {
//     width: 450px !important;
//     border-radius: 0 !important;
//     overflow: visible !important;
//     margin-left: -100px !important; 
// }