@import "../common-styles/styles.scss";

.login-reset {
    margin-top: 20px;
    text-align: right;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.password {
    padding-top: 10px;
    padding-bottom: 5px;
}

.button-red-holder {
    padding-top: 18px;
}
