<div class="container"
  fxLayout="column"
  fxLayoutAlign="center center">
    <div class="profile">
        <div>
            <div class="headers">
                Name
            </div>
            <p>
                {{this.firstName}} {{this.lastName}}
            </p>
        </div>
        
        <div>
            <div class="headers">
                Email
            </div>
            <p>
                {{this.email}}
            </p>
        </div>
        <div>
            <div class="headers">
                Contact us at
            </div>
            <p class="support-link">
                <a href="mailto:support@nomfoods.com">
                    support@nomfoods.com
                </a> 
            </p>
        </div>
    </div>
</div>