<div class="login-body">
  <!-- <a [routerLink]="" (click)="closeDialog()">X</a> -->
  <form class=login-form>
    <p class="login-title">Finish Registration</p>
    <div *ngIf="errorMessage!=null" class="alert alert-danger error-message">
        {{ errorMessage }}
    </div>
    <div class="form-group">
        <label class="control-label" for="signupEmail">Username / Email</label>
        <input id="signupEmail" type="email" maxlength="50" autocomplete="on" class="form-control"
               [(ngModel)]="registrationUser.username" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label class="control-label" for="signupFirstName">First Name</label>
        <input id="signupFirstName" type="text" maxlength="50" autocomplete="on" class="form-control"
                [(ngModel)]="registrationUser.firstName" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label class="control-label" for="signupLastName">Last Name</label>
        <input id="signupLastName" type="text" maxlength="50" autocomplete="on" class="form-control"
                [(ngModel)]="registrationUser.lastName" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label class="control-label" for="existingPassword">Temporary Password</label>
        <input id="existingPassword" type="password" maxlength="25" autocomplete="on" class="form-control"
               placeholder="at least 8 characters" length="40" [(ngModel)]="registrationUser.existingPassword"
               [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label class="control-label" for="signupPassword">New Password</label>
        <input id="signupPassword" type="password" maxlength="25" autocomplete="on" class="form-control"
               placeholder="at least 8 characters" length="40" [(ngModel)]="registrationUser.password"
               [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label class="control-label" for="signupCompany">Company Name</label>
        <input id="signupCompany" type="text" maxlength="50" autocomplete="on" class="form-control"
                [(ngModel)]="registrationUser.company" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="form-group" type="button">
        <button (click)="onRegister()" id="signupSubmit" type="submit" class="button buttonRed">
            Done
        </button>
    </div>
  </form>
</div>